//BEGIN header
<header class="header">
  <div class="container">
    <div class="header-wrap">
      <div class="header-wrap__logo">
        <img src="./icons/logo.svg" alt="">
      </div>
      <div class="header-wrap__menu">
        <ul class="header-wrap__list">
          li.header-wrap
        </ul>
      </div>
    </div>
  </div>
</header>

<nav class="nav">
  <div class="container">
    
  </div>
</nav>
//END header
