//BEGIN header
<header class="header">
  <div class="container">
    <div class="header-wrap">
      <div class="header-wrap__logo">
        <img src="./icons/logo.svg" alt="">
      </div>
      <div class="header-wrap__menu">
        <nav class="nav">
          <div class="container">
            <div class="nav-wrap">
              <div class="nav-wrap__burger">
                <span></span>
              </div>
              <ul class="nav-wrap__list">
                <li class="nav-wrap__item">
                  <a href="/">About me</a>
                </li>
                <li class="nav-wrap__item">
                  <a href="/">Cases</a>
                </li>
                <li class="nav-wrap__item">
                  <a href="/">Contacts</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
//END header
