mixin about()
    <section class="section padd--tb-xs">
        <div class="container">
            <div class="about">
                <div class="about-info">
                    <h2>About me</h2>
                    <p>I would be thrilled to advance as a decent Front End Developer and become a valuable part of your team. 
                        <br>
                        <br>
                        My IT path started in 2020 at Ucode Academy in Kyiv. I prioritize constant self-learnig and continuously build my expertise by analyzing industry's best practices and lessons learned.</p>
                    <a href="/" class="btn btn--primary">Check</a>
                </div>
                <div class="about-img">
                    <img src="./icons/about.svg" alt="">
                </div>
            </div>
        </div>
    </section>