mixin hero()
    <section class="section">
        <div class="container">
            <div class="hero">
                <div class="hero-wrap">
                    <h1>Front End Developer</h1>
                    <p>I can create a Web Applications, and modern solutions for bussnises</p>
                    <div class="hero-wrap__action">
                        <a href="/" class="btn btn--primary">Check</a>
                    </div>
                </div>
                <img class="hero-bg" src="./icons/hero.svg" alt="">
            </div>
        </div>
    </section>