mixin hero()
    <section>
        <div class="container">
            <div class="hero">
                <div class="hero-wrap">
                    <p>We develop websites, online stores, mobile applications and IT solutions for business, Internet marketing services, SMM, SEO.</p>
                    <div class="hero-wrap__action">
                    </div>
                </div>
                <img class="hero-bg" src="./img/bg-element.png" alt="">
            </div>
        </div>
    </section>