.icon-Gmail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Telegram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-about {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-css {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-git {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.icon-hero {
  width: 1.37em;
  height: 1em;
  fill: initial;
}
.icon-html {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-js {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 2.51em;
  height: 1em;
  fill: initial;
}
.icon-vue {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
